.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}

.secondBtn {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.secondBtn:hover {
  background-color: #d4d4d4;
}

.primaryBtn {
  background-color: #5278ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 5px;
}

.primaryBtn:hover {
  background-color: #5278ff;
}
