.commandSuggestions {
    position: absolute;
    z-index: 1000; // Assurez-vous qu'il est au-dessus des autres éléments
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    max-height: 200px; // Limite la hauteur et permet le défilement
    overflow-y: auto;
    list-style-type: none;
    opacity: 0;

    li {
        padding: 8px 12px;
        cursor: pointer;

        &:hover,
        &.selected {
            background-color: #f0f0f0;
        }
    }
}