.main{
}
.container {
    display: flex;
    flex-direction: row;
    gap : 3vw;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 1px solid #ccc;
}