.sidebar {
  width: 15%;
  min-width: 250px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #f5f5f5;
  width: 30%;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 10px;
  flex: 1;
}

.sidebar h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 20px 10px 20px;
}

.sidebar h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 0 15px 0;
  padding: 10px 20px 10px 20px;
}

.sidebar p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin: 5px 20px 5px 20px;
}

.modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  z-index: 1;
  z-index: 1000;
  position: relative;
}

.header {
  background-color: yellow;
  border-radius: 8px 8px 0 0;
  padding: 15px;
  text-align: left;
}

.workspaceList {
  padding: 10px;
  list-style-type: none;
}

.workspaceSelector {
  background-color: white;
  border-radius: 15px;
  position: absolute;
  min-width: 280px;
}

.workspaceItem {
  list-style-type: none;
}

.workspaceButton h2 {
  margin: 0;
}

.workspace_modal_item {
  background-color: white;
  padding: 15px;
}

.workspace_modal_item:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
}

.workspace_modal_item_name {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.buttons {
  display: flex;
}

.workspace_selector {
  padding: 100px;
}
