.sidebar {
    width: 20%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #f5f5f5;
}

.sidebar h1 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.sidebar h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 15px 0 15px 0;
    padding: 0;
}

.sidebar p {
    font-size: 0.80rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin: 5px 0 5px 0;
}